version: "3.9"

services:
  db:
    image: postgres:alpine
    volumes:
      - ./migrations:/migrations

    environment:
      POSTGRES_USER: johndoe
      POSTGRES_PASSWORD: randompassword
      POSTGRES_DB: mydb
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    links:
    - db:db
    depends_on:
      - db
  rabbitmq:
    image: "rabbitmq:3.8-management-alpine"
    hostname: rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin

